services:
  db:
    container_name: postgres
    image: postgres:15.2-alpine
    shm_size: 128mb
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/postgres_data

  backend:
    depends_on:
      - db
    container_name: backend
    build:
      context: ./backend
    restart: always
    environment:
      - PORT=4000
      - HOST_URL=${HOST_URL}
      - BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_PORT=${FRONTEND_PORT}
    ports:
      - '${BACKEND_PORT}:4000'

  frontend:
    depends_on:
      - backend
    container_name: frontend
    build:
      context: ./frontend
    restart: always
    environment:
      - NEXT_PUBLIC_HOST_URL=${HOST_URL}
      - NEXT_PUBLIC_BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_PORT=${FRONTEND_PORT}
    ports:
      - '${FRONTEND_PORT}:3000'

volumes:
  postgres_data:
