services:
  db:
    container_name: postgres
    image: postgres:15.2-alpine
    shm_size: 128mb
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 10s

  backend:
    depends_on:
      db:
        condition: service_healthy
    container_name: backend
    build:
      context: ./backend
      args:
        - DATABASE_URL=${DATABASE_URL}
    restart: always
    environment:
      - PORT=4000
      - ACCESS_URL=http://frontend:3000
      - DATABASE_URL=${DATABASE_URL}
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:4000']
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    depends_on:
      backend:
        condition: service_healthy
    container_name: frontend
    build:
      context: ./frontend
      args:
        - BACKEND_URL=http://backend:4000
    restart: always
    environment:
      - BACKEND_URL=http://backend:4000
    ports:
      - '${PUBLIC_FRONTEND_PORT}:3000'
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:4000']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
